@inject ApplicationCore.ServiceInterface.IGenreService _generService

@foreach (var genre in await _generService.GetAllGenres())
{
<a class="dropdown-item" asp-controller="Genres" asp-action="Details" asp-route-id="@genre.Id">@genre.Name</a>//Redirect to a new page?? on each genere
}